body {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color:aquamarine;
    transition: 1s;
    text-align: center;
    line-height: 100px;
    margin: 0px 10px 10px 0px;
}

.win {
    background-color: orange;
    border-radius: 50%;
    transform: rotate(720deg);
}

.lose {
    background-color: steelblue;
    transform: scale(0.8);
}